<!DOCTYPE html>
<!-- TODO #2: spring security를 위한 namespace 선언 -->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
</head>
<body>
<h1>Home</h1>

<th:block th:include="fragments/heading"/>

<!-- TODO #3: `sec:authorize`, `sec:authorize-url` -->
<ul>
    <li sec:authorize="hasAuthority('ROLE_MEMBER')">
        <a href="/certificates">증명서 목록</a>
    </li>
</ul>
</body>
</html>
